.header {
  height: 94px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center; }
    .header__logo--name {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 800;
      font-size: 15px;
      line-height: 160%;
      /* identical to box height, or 24px */
      letter-spacing: -0.06em;
      /* additional1 */
      color: #0b304f;
      margin-left: 10px; }
  .header .navbar ul li {
    display: inline-block;
    margin: 0 10px;
    color: #0b304f;
    cursor: pointer; }
    .header .navbar ul li:hover {
      color: #12aadb; }
    .header .navbar ul li a {
      text-decoration: none;
      font-weight: 500;
      line-height: 160%;
      color: #0b304f; }
      .header .navbar ul li a:hover {
        color: #12aadb; }
  .header__right {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header__right .search {
      color: #afb7bf; }
    .header__right .language {
      margin: 0 10px 0 20px;
      cursor: pointer; }
    .header__right--contact {
      margin-left: 20px;
      padding: 8px 32px;
      background: #12aadb;
      box-shadow: 0px 8px 32px rgba(18, 170, 219, 0.3);
      border-radius: 16px;
      color: white;
      cursor: pointer; }

body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

.bgColor {
  background-color: rgba(18, 170, 219, 0.1); }

.container {
  width: 80%;
  margin: 0 auto; }

.main {
  display: flex;
  justify-content: space-between; }
  .main__left--workTime {
    margin-top: 1rem;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #576f83; }
  .main__left--title {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 110%;
    color: #0b304f;
    margin-top: 3.1rem; }
  .main__left--description {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #8394a2;
    margin-top: 1rem; }
  .main__left--btn {
    margin-top: 3rem; }
    .main__left--btn .btn {
      padding: 8px 32px;
      font-size: 16px;
      cursor: pointer; }
      .main__left--btn .btn:active {
        transform: scale(1.01); }
    .main__left--btn .reletion {
      width: 141px;
      height: 42px;
      background: #12aadb;
      border: 1px solid #12aadb;
      outline: none;
      border: none;
      box-shadow: 0px 8px 32px rgba(18, 170, 219, 0.3);
      border-radius: 16px;
      color: white; }
    .main__left--btn .more-read {
      font-weight: 600;
      font-size: 16px;
      line-height: 160%;
      background: none;
      border: none;
      color: #0b304f;
      font-style: normal; }
    .main__left--btn .more-read:hover {
      background: #12aadb;
      box-shadow: 0px 8px 32px rgba(18, 170, 219, 0.3);
      border-radius: 16px;
      color: white;
      transition: all 0.3s; }
  .main__right {
    position: relative; }
    .main__right--img {
      margin-top: 3rem;
      margin-right: 5.5rem; }
    .main__right--rectengle {
      position: absolute;
      width: 34.4rem;
      z-index: -1;
      height: 20rem;
      left: 0px;
      top: 13.1875rem;
      margin-left: 1rem;
      background: #12aadb;
      opacity: 0.2;
      border-radius: 12.5rem 0 0 12.5rem; }
    .main__right--box {
      position: absolute;
      width: 12.75rem;
      height: 9.125rem;
      left: 18.5rem;
      top: 20.5rem;
      background: #ffffff;
      box-shadow: 0px 8px 16px rgba(11, 48, 79, 0.03);
      border-radius: 32px;
      text-align: center; }
      .main__right--box .ellipce {
        position: absolute; }
        .main__right--box .ellipce:hover {
          z-index: 100;
          cursor: pointer;
          transform: scale(1.1);
          transition: all 0.5s; }
      .main__right--box .ellipce1 {
        width: 52px;
        height: 52px;
        left: 1rem;
        top: 1rem; }
      .main__right--box .ellipce2 {
        width: 52px;
        height: 52px;
        left: 40px;
        top: 1rem; }
      .main__right--box .ellipce3 {
        width: 52px;
        height: 52px;
        left: 65px;
        top: 1rem; }
      .main__right--box .ellipce4 {
        width: 52px;
        height: 52px;
        left: 88px;
        top: 1rem; }
      .main__right--box .ellipce5 {
        width: 52px;
        height: 52px;
        left: 112px;
        top: 1rem; }
      .main__right--box .ellipce6 {
        width: 52px;
        height: 52px;
        left: 136px;
        top: 1rem;
        color: #fff;
        border-radius: 50%;
        text-align: center;
        padding: 18px 0;
        background: #12aadb; }
      .main__right--box .patent {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        color: #0b304f;
        margin-top: 5rem; }

.section2 {
  width: 100%;
  height: 400px;
  margin: 3rem auto;
  border-radius: 18px;
  padding: 3rem 0;
  background-image: url(../images/HomeImage/section2.png); }
  .section2__title, .section2__description, .section2__btn {
    margin-left: 3.75rem; }
  .section2__title {
    font-size: 40px;
    font-weight: 700;
    color: #0b304f;
    line-height: 150%;
    font-style: normal;
    margin-top: 4.125rem; }
  .section2__description {
    font-size: 16px;
    font-weight: 500;
    color: #8394a2;
    line-height: 160%;
    font-style: normal;
    margin-top: 0.5rem; }
  .section2__btn {
    font-size: 16px;
    margin-top: 2rem;
    font-weight: 600;
    line-height: 150%;
    padding: 1rem 4rem;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    color: #fff;
    background: #12aadb;
    box-shadow: 0px 8px 32px rgba(18, 170, 219, 0.3); }
    .section2__btn:active {
      transform: scale(1.01); }

.section_title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 160%;
  color: #0b304f; }

.section3 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1.5rem;
  margin-bottom: 8rem; }
  .section3__box1 {
    background-color: rgba(242, 123, 181, 0.09); }
  .section3__box2 {
    background-color: rgba(0, 132, 117, 0.09); }
  .section3__box3 {
    background-color: rgba(106, 168, 255, 0.09); }
  .section3__box4 {
    background-color: rgba(255, 217, 68, 0.09); }
  .section3__box5 {
    background-color: rgba(242, 123, 181, 0.09); }
  .section3__box6 {
    background-color: rgba(106, 168, 255, 0.09); }
  .section3__box {
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
    border-radius: 18px;
    padding: 2rem 1.5rem; }
    .section3__box:hover {
      cursor: pointer;
      transform: scale(1.015);
      box-shadow: 0px 4px 8px rgba(18, 170, 219, 0.3); }
    .section3__box--description {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #8394a2; }
    .section3__box--top {
      display: grid;
      grid-template-columns: auto auto;
      align-items: center; }
    .section3__box--top-title {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 130%;
      color: #0b304f; }
