.header {
  height: 94px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // logo section
  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    &--name {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 800;
      font-size: 15px;
      line-height: 160%;
      /* identical to box height, or 24px */

      letter-spacing: -0.06em;

      /* additional1 */

      color: #0b304f;
      margin-left: 10px;
    }
  }

  // /logo section

  // navbar
  .navbar {
    align-items: center;
    padding-top: 2rem;
    ul {
      li {
        display: inline-block;
        margin: 0 10px;
        color: #0b304f;
        cursor: pointer;

        &:hover {
          color: #12aadb;
        }
        a {
          // font-family: "Gilroy";
          text-decoration: none;
          font-weight: 500;
          line-height: 160%;
          color: #0b304f;

          &:hover {
            color: #12aadb;
          }
        }
      }
    }
  }

  .navbarDrop {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #8394a2;
  }
  // /navbar

  // hedaer right
  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .search {
      color: #afb7bf;
    }

    .language {
      list-style-type: none;
      margin: 0 10px 0 20px;
      cursor: pointer;

      a {
        text-decoration: none;
      }
    }

    &--contact {
      margin-left: 20px;
      padding: 8px 32px;
      background: #12aadb;
      box-shadow: 0px 8px 32px rgba(18, 170, 219, 0.3);
      border-radius: 16px;
      color: white;
      cursor: pointer;
    }
  }

  // /header right

  &__search {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  //
}
