// main section

.servicesMain {
  margin: 4.5rem 0 6rem 0;
  display: flex;
  justify-content: space-between;

  &__left {
    margin-left: 10%;

    &--head {
      display: flex;
      justify-content: start;
      align-items: center;

      p {
        font-weight: 700;
        font-size: 40px;
        line-height: 140%;
        margin-left: 2rem;
        color: #0b304f;
      }
    }

    &--description {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #8394a2;
      margin-top: 2rem;
    }

    ul {
      margin: 0.5rem 0;
      list-style: none;
      li {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #8394a2;
      }
    }

    ul li::before {
      content: "\2022";
      color: #ffb201;
      font-weight: bold;
      display: inline-block;
      width: 1em;
    }

    &--paragraph {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #8394a2;
    }
  }
}

// main section
