// aboutMain

.aboutMain {
  margin: 3.5rem 0 5rem 0;
  position: relative;
  &__head {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    align-items: center;
    margin-bottom: 4.5rem;

    &--title {
      font-weight: 600;
      font-size: 40px;
      line-height: 140%;
      color: #0b304f;
    }

    &--description {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 160%;
      color: #8394a2;
    }
  }

  &__right,
  &__left {
    position: absolute;
  }

  &__left {
    top: 100%;
    left: -9%;
  }

  &__right {
    top: 4.2%;
    right: -9%;
  }
}

// aboutMain
